.login {
    display: flex;
    flex-direction: column;
    padding: 25px;

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        input {
            padding: 7px;
            border: 1px solid gray;
            outline: none;
            border-radius: 5px;

            &:focus {
                border: 2px solid gray;
            }
        }

        button {
            padding: 7px;
            background: linear-gradient(144deg, #EB5E5C 0%, #FF7674 100%);
            border: none;
            border-radius: 10px;
            cursor: pointer;
            color: #F8F8F8;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
        }

        div {
            display: flex;
            position: relative;

            input {
                width: 100%;
            }

            .form__iconPass {
                position: absolute;
                right: 7px;
                top: 7px;
                color: gray;
            }
        }
    }
}